fastapi
uvicorn[standard]
sqlalchemy
greenlet<3.5
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic[email]
pydantic-settings
python-dotenv
httpx
email-validator
psycopg2-binary
